{% load static %}
<footer class="bd-footer-area theme-bg-secondary">
    <div class="section-space">
        <div class="container">
            <div class="row gy-24">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-7">
                    <div class="footer-widget footer-3-col-1">
                        <div class="footer-widget-logo mb-25">
                            <a href="index.html">
                                <img src="{% static 'site/images/logo/logo-white.svg' %}" alt="logo not found">
                            </a>
                        </div>
                        <div class="footer-widget-content">
                            <p>Welcome to Tourigo, your gateway to unforgettable adventures and immersive travel
                                experiences. Explore with us and let your journey begin!</p>
                            <div class="footer-social style-two has-white align-items-center gap--5">
                                <span class="footer-social-title">Social Networks:</span>
                                <div class="theme-social">
                                    <a href="#"><i class="icon-facebook"></i></a>
                                    <a href="#"><i class="icon-tiktok"></i></a>
                                    <a href="#"><i class="icon-instagram"></i></a>
                                    <a href="#"><i class="icon-whatsapp"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-5">
                    <div class="footer-widget footer-3-col-2">
                        <h5 class="footer-widget-title has-white">Company</h5>
                        <div class="footer-widget-links has-white">
                            <ul>
                                <li class="underline-two"><a href="about.html">About Us</a></li>
                                <li class="underline-two"><a href="contact.html">Careers</a></li>
                                <li class="underline-two"><a href="team.html">Travel Guides</a></li>
                                <li class="underline-two"><a href="tour-details.html">Traveler Review</a><span
                                        class="bd-badge warning">New</span>
                                </li>
                                <li class="underline-two"><a href="contact.html">Contact Now</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-3">
                    <div class="footer-widget footer-3-col-3">
                        <h5 class="footer-widget-title has-white">Service</h5>
                        <div class="footer-widget-links has-white">
                            <ul>
                                <li class="underline-two"><a href="destinations-grid-right.html">Destinations</a>
                                </li>
                                <li class="underline-two"><a href="tour-listing.html">Tour Listing</a></li>
                                <li class="underline-two"><a href="booking.html">Tour Booking </a></li>
                                <li class="underline-two"><a href="team.html">Travel Agents</a></li>
                                <li class="underline-two"><a href="contact.html">Help</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-9">
                    <div class="footer-widget footer-3-col-4">
                        <h5 class="footer-widget-title has-white">Recent Post</h5>
                        <div class="footer-widget-post mt-30">
                            <article class="blog-wrapper blog-footer has-white mb-30">
                                <div class="footer-blog-thumb image-hover-effect">
                                    <a href="blog-details.html"><img
                                            src="{% static 'site/images/blog/blog-image-12.png' %}"
                                            alt="img not found"></a>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-meta-list mb-10">
                                        <div class="blog-meta-item">
                                            <span class="meta-icon">
                                                <i class="icon-person"></i>
                                            </span>
                                            <span class="meta-text">By <a class="meta-author"
                                                    href="blog-details.html">Jon Snow</a></span>
                                        </div>
                                        <div class="blog-meta-item">
                                            <span class="meta-icon">
                                                <i class="icon-cleander-check"></i>
                                            </span>
                                            <span class="meta-text"><a class="meta-date" href="blog-details.html">Feb 05
                                                    2024</a></span>
                                        </div>
                                    </div>
                                    <h6 class="blog-title white-text small underline-two"><a
                                            href="blog-details.html">Trekker's Tales:
                                            Navigating the World's Wonders</a></h6>
                                </div>
                            </article>
                            <article class="blog-wrapper blog-footer has-white">
                                <div class="footer-blog-thumb image-hover-effect">
                                    <a href="blog-details.html"><img
                                            src="{% static 'site/images/blog/blog-image-13.png' %}"
                                            alt="img not found"></a>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-meta-list mb-10">
                                        <div class="blog-meta-item">
                                            <span class="meta-icon">
                                                <i class="icon-person"></i>
                                            </span>
                                            <span class="meta-text">By <a class="meta-author"
                                                    href="blog-details.html">Daenerys Targaryen</a></span>
                                        </div>
                                        <div class="blog-meta-item">
                                            <span class="meta-icon">
                                                <i class="icon-cleander-check"></i>
                                            </span>
                                            <span class="meta-text"><a class="meta-date" href="blog-details.html">Feb 01
                                                    2024</a></span>
                                        </div>
                                    </div>
                                    <h6 class="blog-title white-text small underline-two"><a
                                            href="blog-details.html">Exploring the World, One Adventure at a
                                            Time</a></h6>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>
    <div class="footer-copyright-area border-two">
        <div class="container">
            <div class="row gy-24 align-items-center justify-content-between align-content-end">
                <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                    <div class="footer-copyright has-white underline-two">
                        <p>Copyright @ 2024 <a href="https://themeforest.net/user/bdevs" target="_blank">ACES</a>
                            . All
                            Right Reserved</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-5 col-md-6 col-12">
                    <div class="footer-card">
                        <img src="{% static 'site/images/icons/payment-option-white.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>