{% load static %}
<!-- Header area start -->
<header>
    <div id="header-sticky" class="header-area header-style header-style-one has-border">
        <div class="container">
            <div class="mega-menu-wrapper p-relative">
                <div class="header-main">
                    <div class="header-left">
                        <div class="header-logo">
                            <a href="index.html" class="logo-primary">
                                <img src="{% static 'site/images/logo/logo-white.svg' %}" alt="logo not found">
                            </a>
                            <a href="index.html" class="logo-secondary">
                                <img src="{% static 'site/images/logo/logo-black.svg' %}" alt="logo not found">
                            </a>
                        </div>
                        <!--<div class="header-menu">--> 
                        
                    </div>
                    <!--header right-->
                    <div class="header-right">
                        <div class="header-action d-flex align-items-center">
                        
                            <div class="header-hamburger ml-20 d-xl-none">
                                <div class="sidebar-toggle">
                                    <a class="bar-icon" href="javascript:void(0)">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </a>
                                </div>
                            </div>
                            <!-- for wp -->
                            <div class="header-hamburger ml-20 d-none">
                                <button type="button" class="hamburger-btn offcanvas-open-btn">
                                    <span>01</span>
                                    <span>01</span>
                                    <span>01</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header area end -->