{% load static %}
<!-- Header area start -->
<header>
    <div id="header-sticky" class="header-area header-style header-style-one has-border">
        <div class="container">
            <div class="mega-menu-wrapper p-relative">
                <div class="header-main">
                    <div class="header-left">
                        <div class="header-logo">
                            <a href="index.html" class="logo-primary">
                                <img src="{% static 'site/images/logo/logo-white.svg' %}" alt="logo not found">
                            </a>
                            <a href="index.html" class="logo-secondary">
                                <img src="{% static 'site/images/logo/logo-black.svg' %}" alt="logo not found">
                            </a>
                        </div>
                        <!--<div class="header-menu">--> 
                        
                    </div>
                    <!--header right-->
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header area end -->