{% load static %}

<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tour Details || Tour & Travel HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.svg">
    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'site/css/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'site/css/vendor/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'site/css/plugins/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'site/css/plugins/flatpickr.min.css' %}">
    <link rel="stylesheet" href="{% static 'site/css/plugins/chosen.min.css' %}">
    <link rel="stylesheet" href="{% static 'site/css/plugins/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'site/css/plugins/dropzone.min.css' %}">
    <link rel="stylesheet" href="{% static 'site/css/plugins/nouislider.min.css' %}">
    <link rel="stylesheet" href="{% static 'site/css/vendor/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'site/css/vendor/fontawesome-pro.css' %}">
    <link rel="stylesheet" href="{% static 'site/css/vendor/icomoon.css' %}">
    <link rel="stylesheet" href="{% static 'site/css/vendor/spacing.css' %}">
    <link rel="stylesheet" href="{% static 'site/css/main.css' %}">
</head>

<body>
    <!-- preloader start -->
    <div id="preloader">
        <div class="bd-three-bounce">
            <div class="bd-child bd-bounce1"></div>
            <div class="bd-child bd-bounce2"></div>
            <div class="bd-child bd-bounce3"></div>
        </div>
    </div>
    <!-- preloader end -->

    <!-- Header area start -->
  {% include 'partials/header.html' %}
    <!-- Header area end -->

    <!-- Offcanvas area start -->
  {% include 'partials/mobile.html' %}
    <!-- search popup overlay  -->
    <div class="bd-search-overlay"></div>
    <!-- search popup area end here  -->

    <!-- modal booking form start -->
    <div class="booking-model">
        <div class="modal fade" id="popUpBookingForm" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Booking Form</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-body-top mb-20">
                            <div class="d-flex gap-24 justify-content-between align-items-center mb-30">
                                <h6 class="guest-title small">Adult</h6>
                                <div class="guest-number">
                                    <span class="guest-number-minus">
                                        <i class="fa-sharp fa-regular fa-minus"></i>
                                    </span>
                                    <input class="guest-number-input" type="text" value="3">
                                    <span class="guest-number-plus">
                                        <i class="fa-sharp fa-regular fa-plus"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="d-flex gap-24 justify-content-between align-items-center mb-30">
                                <h6 class="guest-title small">Infant</h6>
                                <div class="guest-number">
                                    <span class="guest-number-minus">
                                        <i class="fa-sharp fa-regular fa-minus"></i>
                                    </span>
                                    <input class="guest-number-input" type="text" value="1">
                                    <span class="guest-number-plus">
                                        <i class="fa-sharp fa-regular fa-plus"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="d-flex gap-10 justify-content-between align-items-center">
                                <h6 class="guest-title small">Date</h6>
                                <div class="booking-modal-form-input">
                                    <input class="form-control" id="selectingMultipleDate" type="text"
                                        placeholder="Select Your date Range" readonly="readonly">
                                </div>
                            </div>
                        </div>
                        <div class="modal-body-bottom">
                            <h6 class="mb-10">Add Infant's Ages</h6>
                            <div class="booking-infant-age">
                                <select name="years" id="years">
                                    <option>9 Years</option>
                                    <option>10 Years</option>
                                    <option selected>11 Years</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="booking.html" class="bd-primary-btn btn-style is-bg radius-60">
                            <span class="bd-primary-btn-text">Continue</span>
                            <span class="bd-primary-btn-circle"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal booking form end -->
{% block content %}
    <!-- Body main wrapper start -->
   
    <!-- Body main wrapper end -->
{% endblock content %}
    <!-- Footer area start -->
    {% include 'partials/footer.html' %}
    <!-- Footer area end -->

    <!-- back to top -->
    <!-- Backtotop start -->
    <div class="backtotop-wrap cursor-pointer">
        <svg class="backtotop-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- Backtotop end -->

    <!-- JS here -->
    <script data-cfasync="false" src="{% static '../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script>
    <script src="{% static 'site/js/vendor/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'site/js/plugins/waypoints.min.js' %}"></script>
    <script src="{% static 'site/js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'site/js/plugins/meanmenu.min.js' %}"></script>
    <script src="{% static 'site/js/plugins/swiper.min.js' %}"></script>
    <script src="{% static 'site/js/plugins/wow.js' %}"></script>
    <script src="{% static 'site/js/plugins/dropzone.min.js' %}"></script>
    <script src="{% static 'site/js/vendor/magnific-popup.min.js' %}"></script>
    <script src="{% static 'site/js/vendor/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'site/js/vendor/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'site/js/vendor/purecounter.js' %}"></script>
    <script src="{% static 'site/js/plugins/nouislider.min.js' %}"></script>
    <script src="{% static 'site/js/plugins/nice-select.min.js' %}"></script>
    <script src="{% static 'site/js/plugins/cleave.min.js' %}"></script>
    <script src="{% static 'site/js/plugins/flatpickr.js' %}"></script>
    <script src="{% static 'site/js/plugins/tinymce.min.js' %}"></script>
    <script src="{% static 'site/js/vendor/ajax-form.js' %}"></script>
    <script src="{% static 'site/js/vendor/smooth-scroll.min.js' %}"></script>
    <script src="{% static 'site/js/main.js' %}"></script>
</body>

</html>